
*,
*:after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$body-font-family: 'Poppins';

:root {
  --color-white: #ffffff;
  --color-yellow: #FEDD00;
  --color-emerald: #38C948;
  --color-everglade: #1D3F21;
  --color-cinder: #161620;
  --color-charade: #23222C;
  --color-silver: #BCBCBC;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.v-application {
  font-family: $body-font-family, sans-serif !important;
}

.input-reset {
  border: none;
  color: inherit;
  font: inherit;

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.btn-reset {
  border: none;
  background-color: transparent;
  outline: none;
}

.list-reset {
  list-style-type: none;
}


.section-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 30px;
}

@media (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}

@media (min-width: 1264px) {
  .container {
    max-width: 1110px !important;
  }
}

.v-tabs-slider-wrapper {
  display: none;
}

.v-slide-group__wrapper {
  padding: 30px;
  max-width: 255px;
  width: 100%;
  background-color: var(--color-cinder);
  border-radius: 20px;
}

.v-window.v-item-group {
  margin-right: 30px;
  background-color: transparent !important;
}

